<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="//db.onlinewebfonts.com/c/9f94dc20bb2a09c15241d3a880b7ad01?family=Menlo" rel="stylesheet" type="text/css"/>
  </head>
 <body class = "register-background">
     <header class= "register-header">
         <img src="/images/logo.png" alt="logo">
         <h1>SAVE YOUR DINO</h1>
     </header>

 <main class= "register">

    <h2>Login</h2>
  <form action="/login" method="POST" id="form">

     <input type="email" name="email" placeholder= "Email" required >

    <input type="password" name="password" placeholder= "Password" required >

    <button>Sign in</button>

    {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

    <p class="account-message"> Don't have an account? <a href="/signup">Sign up</a>
    </p>
</form>
 </main>
     </body>