<form id="form" action="/signup" method="POST">
    <h2>Sign Up</h2>

    <input type="name" name="name" placeholder="Your name" required/>
    <br />
    <input type="email" name="email" placeholder="Your email" required/>
    <br />
    <input type="password" name="password" placeholder="********" required/>
   

    <button type="submit">Create account</button>
</form>

{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}