<main>
    <h2>{{actionRef.title}}</h2>

    <form action="/task/{{task._id}}/edit" method="post">

        <h3>What will be your next step?</h3>

        <p>I will...</p>

        <input type="textarea" name="title" id="new-task" value="{{task.title}}">

        <h3>How hard will it be for you?</h3>

        <div>
            <div>
                <input type="radio" id="easy" name="experience" value="5" checked>
                <label for="easy">Easy baby</label>
            </div>
            <div>
                <input type="radio" id="medium" name="experience" value="10">
                <label for="medium">Fair enough</label>
            </div>
            <div>
                <input type="radio" id="hard" name="experience" value="15">
                <label for="hard">Super hard</label>
            </div>
        </div>

        <h3>Do you want to share this task with the other users?</h3>

        <div>
            <div>
                <input type="radio" id="yes" name="isPublic" value="true" checked>
                <label for="yes">Yes, please</label>
            </div>
            <div>
                <input type="radio" id="no" name="isPublic" value="false" >
                <label for="no">No, thanks</label>
            </div>
        </div>

        <button type="submit">Go !</button>

    </form>

</main>