  <div class="logo-header"></div>
<header class="register-header">
    <img src="/images/logo.png" alt="logo">
    <h1>SAVE YOUR DINO</h1>
</header>
<main class="err404-500 error">

    <p >500!</p>
     <p>Ups it seems that there is a problem, we will try to solve it asap…</p>
     <img src="/images/500.png" alt="500">
</main>

   <h1>{{message}}</h1>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>