<main id="err404" class="error">
    <h1>{{message}}</h1>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>

    <h1>404!</h1>
    <p>Ups! It seems that they were no dino to save here...</p>
    <img src="/images/404.png" alt="404">
</main>