<main id="err500" class="error">
    <h1>{{message}}</h1>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>

    <h1>500!</h1>
    <p>Ups it seems that there is a problem, we will try to solve it asap…</p>
    <img src="/images/500.png" alt="500">
</main>