<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="//db.onlinewebfonts.com/c/9f94dc20bb2a09c15241d3a880b7ad01?family=Menlo" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    {{{body}}}
  <nav class="nav-bar">
    <a href="/profile"> <li class="nav-mobile"><img class="nav-icon" src="/images/profile.png" alt="Profile"> Profile</li></a>
    <a href="/actions"> <li class="nav-mobile"><img class="nav-icon" src="/images/dino-footprint.png" alt="Dino Footprint"> Actions</li></a>
    <a href="/others"> <li class="nav-mobile"><img class="nav-icon" src="/images/other.png" alt="Other"> Others</li></a>
  </nav>
  </body>
</html>
