<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="//db.onlinewebfonts.com/c/9f94dc20bb2a09c15241d3a880b7ad01?family=Menlo" rel="stylesheet"
    type="text/css" />
</head>

<body id="modal-page">
  <main class="card">

    <p>Contrats ! You saved a dino by completing this action.</p>
    <img src="{{action.dino.img}}" alt="dino-saved">
    <h3>{{action.dino.name}}</h3>
    <a href="/actions">GREAT!</a>

  </main>

</body>

</html>