<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="//db.onlinewebfonts.com/c/9f94dc20bb2a09c15241d3a880b7ad01?family=Menlo" rel="stylesheet"
    type="text/css" />
</head>

<body id = "modal-page">
<main class = "card">

    <h3>Do you want to add the next task?</h3>
    <p>{{title}}</p>
    <div>
      <a href="/{{actions._id}}/hint">Accept</a>
      <a href="/actions/{{actions._id}}">Reject</a>
    </div>

</main>
    
</body>
</html>