  <div class="logo-header-beige"></div>
    <div class="new-edit-flex"> 
<header class="task-header">
    <a href="/actions"><img src="/images/chevron-green.png" alt="Chevron"></a>
    <h2>{{tasksList.title}}</h2>

</header>
<main class="task-new-edit">

    <form action="/{{tasksList._id}}/new" method="post">

        <h3 class="trapecio-right">What will be your next step?</h3>

        <p>I will...</p>

        <textarea name="title" id="new-task" value="{{task.title}}" maxlength="70">{{task.title}}</textarea>

        <h3 id="trapecio-left">How hard will it be for you?</h3>

        <div class="radio-option">

            <input type="radio" id="easy" name="experience" value=5 checked>
            <label for="easy" class="one-radio-option green-option">Easy baby</label>

            <input type="radio" id="medium" name="experience" value=10>
            <label for="medium" class="one-radio-option blue-option">Fair enough</label>

            <input type="radio" id="hard" name="experience" value=15>
            <label for="hard" class="one-radio-option red-option">Super hard</label>

        </div>

        <h3 class="trapecio-right">Do you want to share this task with the other users?</h3>

        <div class="radio-option">

            <input type="radio" id="yes" name="isPublic" value=true checked>
            <label for="yes" class="one-radio-option green-option">Yes, please</label>

            <input type="radio" id="no" name="isPublic" value=false>
            <label for="no" class="one-radio-option blue-option">No, thanks</label>

        </div>

        <button type="submit">Create !</button>

    </form>

</main>

</div>