/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url(//db.onlinewebfonts.com/c/9f94dc20bb2a09c15241d3a880b7ad01?family=Menlo);

@font-face {font-family: "Menlo"; src: url("//db.onlinewebfonts.com/t/9f94dc20bb2a09c15241d3a880b7ad01.eot"); src: url("//db.onlinewebfonts.com/t/9f94dc20bb2a09c15241d3a880b7ad01.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9f94dc20bb2a09c15241d3a880b7ad01.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9f94dc20bb2a09c15241d3a880b7ad01.woff") format("woff"), url("//db.onlinewebfonts.com/t/9f94dc20bb2a09c15241d3a880b7ad01.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9f94dc20bb2a09c15241d3a880b7ad01.svg#Menlo") format("svg"); } 

body {
  padding: 50px;
  font: 30px "Menlo", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}


/* SIGN-UP */

.register-header > h1 {
	width:30%;
	font-size: 10vw;
	color: #22C28C;

}


.register-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 5vh;
}

.register {
	display: flex;
	flex-direction: column;
	margin: 10vw;
	color: #585858
}

.register > form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.register input {
	font-size: 5vw;
	margin: 1vh;
	height: 60px;
	padding-left: 30px;
	border-width: 1px;
	box-shadow: #585858;
}
.register-header > img {
	height: auto;
	width: 30vw;
}

.register h2 {
	font-size: 6.5vw;
	text-align: center;
	margin: 5vw 0;
}


.register button {
	margin: 5vh 0;
	height: 8vh;
	border-radius: 20px;
	font-size: 5vw;
	background-color: #22C28C;
	border-style: none;
	color: white;
	width: 60vw;
}

.register p {
	color: #585858;
	font-size: 4vw;
	line-height: 1.6;
}
.register a {
	color: #22C28C;
	font-size: 4.3vw;
}

.register-background {
	background-color: #F2C11D;
}

.error-message {
	font-size: 4vw;
	margin-bottom: 20px;
	background-color: #3C82B5;
	color: white;
	padding: 20px;
}
/* To do the circle */
.orange-circle {
	width: 1200px;
	height: 1200px;
	-moz-border-radius: 50%;     
	-webkit-border-radius: 50%;     
	border-radius: 50%;  
	background-color: #F2C11D;
	position: relative;
	top: -400px;
	margin-bottom: -1200px;
	z-index: -1;
}