/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url(//db.onlinewebfonts.com/c/9f94dc20bb2a09c15241d3a880b7ad01?family=Menlo);

@font-face {font-family: "Menlo"; src: url("//db.onlinewebfonts.com/t/9f94dc20bb2a09c15241d3a880b7ad01.eot"); src: url("//db.onlinewebfonts.com/t/9f94dc20bb2a09c15241d3a880b7ad01.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9f94dc20bb2a09c15241d3a880b7ad01.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9f94dc20bb2a09c15241d3a880b7ad01.woff") format("woff"), url("//db.onlinewebfonts.com/t/9f94dc20bb2a09c15241d3a880b7ad01.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9f94dc20bb2a09c15241d3a880b7ad01.svg#Menlo") format("svg"); } 

body {
  font: 30px "Menlo", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

p {
	color: #585858;
}


.logo-header {
	background-color: #F2C11D;
	padding: 40px 70px;
	position: absolute;
	height: 1300px;
	width: 1300px;
	border-radius: 50%;
	z-index: -1;
	margin: -50% 0 0 -50%;
}

.logo-header-beige {
	background-color:#FFEDB2;
	padding: 40px 70px;
	position: absolute;
	height: 1300px;
	width: 1300px;
	border-radius: 50%;
	z-index: -1;
	margin: -50% 0 0 -50%;
}

.logo-header-blue {
	background-color: #8DB6D4;
	padding: 40px 70px;
	position: absolute;
	height: 1300px;
	width: 1300px;
	border-radius: 50%;
	z-index: -1;
	margin: -50% 0 0 -50%;
}
.logo-position {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 5vh;
	padding: 40px 70px;
}


/* SIGN-UP */

.register-background {
	background-color: #F2C11D;

}


.register-header > h1 {
	width:30%;
	font-size: 10vw;
	color: #2ECC71;

}

.register-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 5vh;
	margin: 40px 70px;
}

.register {
	display: flex;
	flex-direction: column;
	margin: 10vw;
	color: #585858
}

.register > form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.register input {
	font-size: 5vw;
	margin: 1vh;
	height: 100px;
	padding-left: 30px;
	border: solid 3px #585858;
	width: 70vw;

}
.register-header > img {
	height: auto;
	width: 30vw;
}

.register h2 {
	font-size: 6.5vw;
	text-align: center;
	margin: 5vw 0;
}


.register button {
	margin: 5vh 0;
	height: 8vh;
	border-radius: 20px;
	font-size: 5vw;
	background-color: #2ECC71;
	border-style: none;
	color: white;
	width: 60vw;
}

.register p {
	color: #585858;
	font-size: 4vw;
	line-height: 1.6;
}
.register a {
	color: #2ECC71;
	font-size: 4.3vw;
}

.error-message {
	font-size: 4vw;
	margin-bottom: 20px;
	background-color: #8DB6D4;
	color: white;
	padding: 20px;
}

/* Nav Bar */

.logo-container {
	display: none;
}

nav {
	background-color: #D0D0D0;
	width: 100%;
	position: fixed;
	overflow: scroll;
	bottom: 0;
	z-index: 99;
}

.nav-options {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.one-nav-option {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	list-style-type: none;
}

.one-nav-option > li {
	color: #2ECC71;
	font-weight: 900;
	padding-bottom: 20px;
}

/* PROFILE */

.profile-header {
	height: 30hv;
	padding: 80px 0 50px 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.profile-title {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.profile-title > h3 {
	color: white;
	font-size: 5vw;
	margin-bottom: 20px;
	font-weight: 900;
}

.profile-title > img {
	width: 45vw;
}

.profile-title > h2 {
	color: white;
	font-size: 4vw;
	margin-top: 20px;
	font-weight: 900;
}

.user-data {
	background-color: #F2C11D;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 50px 0;
}

.one-data {
	background-color: white;
	border-radius: 50%;
	padding: 35px;
	width: 25vw;
	height: 25vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.one-data > p {
	font-size: 5vw;
}

.highlight {
	color: #2ECC71;
	font-weight: 900;
}

.user-exp {
	height: 25vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 15px 0;
}

.exp-bar {
	width: 70vw;
	height: 3vh;
	background-color: #2ECC71;
	border: solid 2px #585858;
}

.user-exp > p {
	font-size: 4vw;
}

.saved-dino {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0 60px;
	margin-bottom: 200px;
}

.saved-dino > h4 {
	font-size: 3.7vw;
	color: #8DB6D4;
	font-weight: 900;
	margin-bottom: 40px;
}

.saved-dino-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.one-dino {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.one-dino > img {
	width: 35vw;
}

.one-dino > h5 {
	color: #8DB6D4;
	font-size: 3.6vw;
	padding: 15px 0 40px 0;
}

/* Action page */

.list-page {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0 70px 220px;
}

.one-action {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 90%;
	margin-bottom: 50px;
}

.one-action-title {
	background-color: #8DB6D4;
	width: 100%;
	border-radius: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 4px 5px #585858;
	z-index: 1;
}

.one-action-title-completed { 
	background-color: #2ECC71;
}

.one-action-title-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 0;
}

.one-action-title-header > img {
	width: 15vw;
	margin: 35px 50px;
}

.one-action-title-header > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.one-action-title-header a {
	color: white;
	text-transform: uppercase;
	font-size: 4vw;
	text-decoration: none;
}

.one-action-title-header p {
	background-color: white;
	padding: 5px 45px;
	text-transform: uppercase;
	font-size: 3.5vw;
	font-weight: 900;
	border-radius: 50px;
	margin-top: 20px;
}

.chevron-img {
	width: 8vw;
	margin-right: 50px;
	transform: rotate(90deg);
	cursor: pointer;
}

.one-action input:checked ~ .one-action-title label > img{
	transform: rotate(0deg);
	/* transition: height 0.2s ease-in-out 0s; */
}

.one-action input:checked ~ .one-action-description {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	/* transition: height 0.2s ease-in-out 0s; */
}

.chevron-checkbox {
	display: none;
}

.one-action-description {
	background-color: #5587AC;
	padding: 150px 50px 50px;
	margin-top: -100px;
	border-radius: 40px;
	display: none;
	
}

.one-action-description-completed {
	background-color: #16A78A;
}

.one-action-description > p {
	color: white;
	font-size: 4vw;
	line-height: 1.3;
	margin-bottom: 50px;
}

.action-bt {
	background-color: white;
	cursor: pointer;
	font-size: 5vw;
	padding: 30px 150px;
	border-radius: 30px;
	color: #5587AC;
}

/* #action-bt {   disabled
	background-color: #B5B3B3;
	color: #D0D0D0;
} */

.action-bt-done {
	background-color: #DE6464;
	color: white;
	cursor: pointer;
	font-size: 5vw;
	padding: 30px 100px;
	border-radius: 30px;
}

.task-header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 100px 30px;
}

.task-header img {
	width: 11vw;
}

.task-header > h2 {
	font-size: 8vw;
	color: #2ECC71;
	margin-left: 50px;
	font-weight: 900;
}

.one-task {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 50px;
	border-radius: 40px;
	box-shadow: 0 4px 5px #585858;
	background-color: white;
}

.complete-form {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background-color: #8DB6D4;
	border-radius: 40px 0 0 40px;
	width: 100%;
}

.task-done {
	background-color: #2ECC71;
}

.button-done {
	background-color: white;
	clip-path: polygon(41% 86%, 100% 0, 100% 17%, 43% 100%, 0% 60%, 0 48%);
	border: none
}

.complete-form > button {
	width: 9vw;
	height: 9vw;
	margin: 40px;
	border-radius: 30px;
	cursor: pointer;
}


.complete-form > p {
	width: 70%;
	padding: 50px 0;
	line-height: 1.3;
	word-wrap: break-word;
}

.complete-form a {
	color: white;
	text-decoration: none;
}


.delete-form {
	padding: 0 10px;
}

.delete-form > button {
	background-color: white;
	border: none;
	cursor: pointer;
}

.delete-form img {
	width: 10vw;
}

#task-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 220px 50px;
	width: 90%;
	position: fixed;
	overflow: scroll;
	bottom: 0;
}

.hint-img {
	width: 15vw;
}

.new-task-bt {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #2ECC71;
	padding: 15px 20px;
	border-radius: 40px;
}

.new-task-bt > p {
	color: white;
	font-size: 5vw;
	font-weight: 900;
	margin-right: 30px;
}

.new-task-bt > img {
	width: 12vw;
	height: 12vw;
}

.task-new-edit form {
	display: flex;	
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.task-new-edit h3 {
	background-color: #8DB6D4;
	align-self: flex-start;
	font-size: 6vw;
	font-weight: 900;
	color: white;
	padding: 30px 50px;
	clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);

}


#trapecio-left {
	clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
	text-align: right;
}

.task-new-edit p {
	color: #2ECC71;
	font-size: 8vw;
	font-style: italic;
	align-self: flex-start;
	padding: 20px 50px;
}

.task-new-edit > form > textarea {
	background-color: #D0D0D0;
	border: none;
	width: 80%;
	height: 10vh;
	border-radius: 40px;
	margin-bottom: 40px;
	font-size: 4vw;
	padding: 30px;
	word-wrap: break-word;
}

.radio-option {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}

.one-radio-option {
	border: solid 2px #F2C11D;
	background-color: #D0D0D0;
	margin: 15px;
	width: 20vw;
	font-size: 4vw;
	font-weight: 900;
	text-align: center;
	border-radius: 30px;
	padding: 30px 0;
	cursor: pointer;
}

input[type="radio"]:checked + label {
	border: solid 10px #F2C11D;
}

.radio-option input {
	display: none;
}

.one-radio-option label {
	cursor: pointer;
}

.green-option {
	color: #2ECC71;
}

.blue-option {
	color: #5587AC;
}

.red-option {
	color: red;
}

.task-new-edit button {
	margin-bottom: 220px;
	width: 50%;
	background-color: #F2C11D;
	border: none;
	font-size: 4vw;
	font-weight: 900;
	color: white;
	padding: 30px 0;
	border-radius: 30px;
	cursor: pointer;
}

#others-page {
	padding: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

}

#others-page > div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

#others-page > div > li {
	list-style-type: none;
	padding: 30px 0;
}

#others-page a {
	font-size: 5vw;
	font-weight: 900;
}

#others-page > div  a {
	color: #585858;
}

#others-page > a {
	color: red;
	padding: 30px 0;
	border-top: solid 2px #585858;
	width: 100%;
}

/* To do the circle */
.orange-circle {
	width: 1200px;
	height: 1200px;
	-moz-border-radius: 50%;     
	-webkit-border-radius: 50%;     
	border-radius: 50%;  
	background-color: #F2C11D;
	position: relative;
	top: -400px;
	margin-bottom: -1200px;
	z-index: -1;
}


/* 404 and 500 */

.err404-500  {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 150px;

}

.err404-500 p {
	width: 80%;
	text-align: center;
	font-size: 5vw;
	margin-bottom: 50px;
}


/* Modal page */

#modal-page {
	background-color:#9b9b9b;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #F2C11D;
	border-radius: 30px;
	width: 60%;
	margin: 35vh 0;
	padding: 70px
}

.card p {
 font-size: 3.5vw;
 text-align: center;
 color: #16A78A;
 font-weight: 900;
 
}

.card img {
margin: 40px;
}

.card  h3 {
	font-size: 6vw;
	text-align: center;
	color: #16A78A;
	font-weight: 900;
}

.card  a {
 border-radius: 30px;
 background-color: white;
 color: #585858;
margin-top: 40px;
 padding: 20px 100px;
 font-size: 4vw;
}