<div class="logo-header"></div>
<header class="actions-header">
    <img src="/images/logo.png" alt="logo">
    <h1>SAVE YOUR DINO</h1>
</header>

<main class="others-page">
    <h2 class="faq-title">About us</h2>

    <p class="about-us-p">We are two IronHack students concerned by sustainibility and wanted to share our vision into a cute game in which
        the user creates their own tasks and so he is the real actor of its own ecological path. Bring the game into
        your real life!</p>
    {{!-- <p class="about-us-p">If you like the project and want to tell us, please send us a message</p>

    <form>

        <input type="text-area">
    </form> --}}
</main>