<h2>About us</h2>

<p>We are two IronHack students concerned by sustainibility and wanted to share our vision into a cute game in which the user creates their own tasks and so he is the real actor of its own ecological path. Bring the game into your real life!</p>
<p>If you like the project and want to tell us, please send us a message</p>

<form>

    <input type="text-area"> 
</form>