<div class = "logo-header"></div>
<header class="actions-header">
    <img src="/images/logo.png" alt="logo">
    <h1>SAVE YOUR DINO</h1>
</header>

<main class="others-page">
    <h2 class="faq-title">FAQ</h2>
    <div class="one-faq">
        <p class="faq-question">How does the game work?</p>
        <p class="faq-answer">The game is related with real life. Complete eco-actions in the real life to improve your experience. When
            you complete all the tasks, you may save a dino from extinction!</p>

    </div>

    <div class="one-faq">
        <p class="faq-question">Why did you do that game?</p>
        <p class="faq-answer">You are not a simple player. You are a real actor of planet saving. By gaming the life, you may have an extra
            reason to get greener</p>
    </div>

    <div class="one-faq">
        <p class="faq-question">May I have extra tasks to do if I don't find which one I could do</p>
        <p class="faq-answer">IN CONSTRUCTION - Sure! Just click on the Hint icon, on your actions page and you will receive a suggestion from another user
        </p>
    </div>

</main>

  {{!-- <div class="logo-bottom-blue"></div> --}}