<div>
<p>How does the game work?</p>
<p>The game is related with real life. Complete eco-actions in the real life to improve your experience. When you complete all the tasks, you may save a dino from extinction!</p>

</div>

<div>
<p>Why did you do that game?</p>
<p>You are not a simple player. You are a real actor of planet saving. By gaming the life, you may have an extra reason to get greener</p>
</div>

<div>
<p>May I have extra tasks to do if I don't find which one I could do</p>
<p>Sure! Just click on the Hint icon, on your actions page and you will receive a suggestion from another user</p>
</div>