<div class = "logo-header"></div>
<header class="actions-header">
    <img src="/images/logo.png" alt="logo">
    <h1>SAVE YOUR DINO</h1>
</header>

<main class="others-page">
    <div>
        <li><a href="/others/faq">FAQ</a></li>
        <li><a href="/others/about-us">About us</a></li>
        <li><a href="/others/attributions">Attributions</a></li>

    </div>
    
    <a href="/logout">Log Out</a>
</main>

  <div class="logo-bottom-blue"></div>